<h1><%= @team.name %></h1>
 
  <h3>Team Name: <%= "#{@team.name}" %></h3><br>
  <h4>Team Motto: <%= "#{@team.motto}" %></h4>

  <% @heros.each do |hero| %>
    <h3>Hero Name: <%= "#{hero.name}" %></h3>
    <h3>Hero Power: <%= "#{hero.power}" %></h3>
    <h4>Hero Biography: <%= "#{hero.bio}" %></h3>
    <% end %>

 



